.heroHeight {
  height: 40rem;
}

.card-drop {
  filter: drop-shadow(0px 10px 0px var(--foreground, rgba(0, 0, 0, 0.1)));
  transition: filter 0.3s ease;
}

 /* Empresas Links */
.sectionHeight {
  height: 35rem;
}


/*Phone Card*/

.appPhoneHeight {
  height: 38rem;
}


/* World Show*/
.worldShowHeight {
  height: 35rem;
}

@media (max-width: 80rem) {
  .card-responsive  {
    width: 92%;
  }
} 