.bannerheight {
    height: 40rem;
}


.bannerheight img {
    filter: drop-shadow(0px 20px 3px #07BEB8);
}

.beneficiosheight {
    height: 32rem;
}

.daedrop {
    filter: drop-shadow(0px 20px 3px #07BEB8);

}